body {
    background-image: url("../img/fondo.jpg")
}
.cabeza {
    width: 90%;
    margin: auto;
    margin-top: 15px;
}
.cuerpo {
    width: 90%;
    margin: auto;
    margin-top: 30px;
}
.cuerpo .titulo{
    width: 100%;
    margin: auto;
    margin-top: 10px;
    background-color: azure;
    border-radius: 5px;
}
.cuerpo .titulo h1 {
    text-align: center;
}
.cuerpo .formu{
    width: 100%;
    margin: auto;
    margin-top: 15px;
    background-color: azure;
    border-radius: 5px;
}
.cuerpo .subformu{
    width: 80%;
    margin: auto;
    background-color: azure;
    border-radius: 5px;
}
.cuerpo .subformu .btn{
    margin-left: 45%;
    margin-bottom: 20px;
}
.cuerpo .form-row{
    padding-top: 15px;
}
.foot{
    width: 90%;
    margin: auto;
    margin-top: 15px;
}
.alert-success {
    display: none;
    background-color: #4CAF50; /* Fondo verde para alerta de éxito */
    color: #fff; /* Texto blanco */
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
}    
.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f9f9f9; /* Color de fondo claro */
    border: 1px solid #ddd; /* Borde ligero */
}

/* Estilos para las celdas del encabezado */
.table-header th {
    background-color: #4CAF50; /* Color de fondo para las celdas de encabezado */
    color: white;
}

/* Estilos para las celdas de datos */
.table tbody tr:hover {
    background-color: #f5f5f5; /* Color de fondo cuando se pasa el mouse sobre una fila */
}

/* Estilos para las celdas de datos */
.table tbody td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Borde inferior para filas */
}